node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/


# environment file
.env
auth0-configuration.ts

# macOS
.DS_Store

# JetBrains IDES
.idea/

# Visual Studio Code
.vscode/
